<a class="text-decoration-none" href="https://alienpunkmfers.com/">
    <div class="alert alert-info" role="alert" *ngIf="collection.id === 'mfers'">
        Every mfer is eligible to claim a free alien punk mfer at <span class="fw-bold">alienpunkmfers.com</span>
    </div> 
</a>
<a href="https://alienpunkthings.com/" class="text-decoration-none" *ngIf="collection.id === 'alien-punk-things'">
    <div class="alert alert-info" role="alert">
        Alien Punk Things are minting for only 0.015 ETH at <span class="fw-bold">alienpunkthings.com</span>
    </div>
</a>