<div class="mb-3">
    <label>{{fitGroup.name}}</label>

    <select [(ngModel)]="selectedFit" (ngModelChange)="onFitChange()" class="form-select">
        <option [ngValue]="null">None</option>
        <option *ngFor="let fit of fitGroup.fits" [ngValue]="fit">{{ fit.name }}</option>
    </select>

    <select 
        class="form-select"
        [(ngModel)]="selectedVariant" 
        *ngIf="selectedFit && selectedFit.variants && selectedFit.variants.length > 1"
        (ngModelChange)="onVariantChange()">
        <option *ngFor="let variant of selectedFit?.variants" [ngValue]="variant">{{ variant.name }}</option>
    </select>
</div>